@import 'styles/mixins.scss';

.user__client {
  display: flex;
  align-items: center;
  gap: 12px;
}
.user__status {
  font: normal normal medium 10px/28px Poppins;
  text-transform: uppercase;

  border-radius: 4px;
  padding: 8px;
}
.user__status-pending {
  background: #392f28;
  color: #ffa800;
}
.user__status-completed {
  background: #1c3238;
  color: #0bb783;
}
.user__status-cancelled {
  background: #3a2434;
  color: #f64e60;
}

.user__select {
  background: #1e1e2d !important;
  @include moreThanTablet() {
    width: 50%;
    margin-bottom: 0px;
  }
  @include moreThanDesktop() {
    // min-width: 260px;
  }
  .ant-select-selector {
    border-radius: 4px !important;
    border-style: none !important;
    // height: 50px;
    background: #323248 !important;
  }
  .ant-select-selection-item {
    font-size: 16px;
    letter-spacing: 0px;
    color: #92928f;
    padding: 10px;
  }
  .ant-select-arrow {
    color: #368deb !important;
    background-color: #345b91 !important;
    border-radius: 50%;
  }
}

.user__dropdown {
  background-color: #1e1e2d;
  .ant-select-item {
    padding: 10px 12px;
    background-color: #1e1e2d;
    color: #6e6e71;
  }
}
