.sidebar {
  min-height: calc(100vh - 6rem);
  // min-height: 100vh;
  height: 100vh;
  overflow-y: auto;

  .qr__code {
    padding: 20px;
  }
}

.sublinks {
  padding: 0;
  margin: 0;
  padding-bottom: 8px;

  li {
    padding: 8px 0 0 46px;
    display: flex;
    align-items: center;
    // &::after {
    //   content: ">";
    //   display: inline-block;
    // }

    li {
      padding: 8px 0 0 20px;
    }
  }
}
