@import '../../styles/mixins.scss';

.custom-table {
  background: #1e1e2d;
  border-radius: 8px;
  padding: 40px;
  &__el {
    div.ant-table {
      background: #1e1e2d;
      color: #ffffff !important;
      font-size: 14px;
    }

    .ant-table-cell {
      padding: 16px 16px;
      border-bottom: 1px dashed #474761;
    }
    .ant-table-cell.ant-table-cell-row-hover {
      background: #474761 !important;
    }
    th.ant-table-cell {
      color: #474761;
      text-transform: uppercase;
      font-size: 12px;
      background: #1e1e2d;
    }

    // Table pagination styles
    .ant-pagination-item {
      display: none;
    }
    .ant-pagination-jump-next {
      display: none;
    }
    .ant-pagination {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      @include moreThanDesktop() {
        grid-template-columns: repeat(12, 1fr);
      }
      margin-top: 100px;
      .ant-pagination-total-text {
        grid-column: 1/3;
        font: normal normal medium 16px/21px Roboto;
        letter-spacing: 0px;
        color: #000000;
      }
      .ant-pagination-prev {
        grid-column: 11 / 12;
        justify-items: end;
        display: inline-grid;
        margin-right: 5px;
      }
      .ant-pagination-next {
        grid-column: 12 / 13;
        justify-items: center;
        display: inline-grid;
        margin-left: 5px;
      }
      .ant-pagination-jump-prev {
        display: none;
      }
      .ant-pagination-disabled {
        svg {
          path {
            stroke: #8c8c8c;
          }
        }
      }
    }
  }

  .custom-table__filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 0px 40px 0px;
    flex-direction: column;
    @include moreThanDesktop() {
      flex-direction: row;
    }
    .custom-table__filters-search-wrapper {
      display: flex;
      align-items: center;
      gap: 20px;
      flex-direction: column;
      width: 100%;
      margin-bottom: 0px;
      @include moreThanTablet() {
        flex-direction: row;
        margin-bottom: 20px;
      }
      @include moreThanDesktop() {
        flex-direction: row;
        justify-content: space-between;
        width: auto;
        margin-bottom: 0px;
      }
    }
    // Input Styles
    .custom-table__filters-search {
      background-color: #171723;
      padding: 14px;
      border-radius: 12px;
      border: 1px solid #e8e8e8;
      width: 100%;
      @include moreThanTablet() {
        width: 50%;
      }
      @include moreThanDesktop() {
        min-width: 398px;
      }
      .ant-input {
        background-color: #171723;
        margin-left: 12px;
        &::placeholder {
          font: normal normal normal 16px/21px Roboto;
          letter-spacing: 0px;
          color: #92928f;
        }
      }
    }

    // Select Styles
    .custom-table__filters-select {
      // height: 60px;
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      width: 100%;
      margin-bottom: 20px;
      // padding: 14px;
      background: #1e1e2d;
      @include moreThanTablet() {
        width: 50%;
        margin-bottom: 0px;
      }
      @include moreThanDesktop() {
        min-width: 260px;
      }
      .ant-select-selector {
        border-radius: 12px;
        height: 50px;
        background: #171723;
      }
      .ant-select-selection-item {
        font-size: 16px;
        letter-spacing: 0px;
        color: #92928f;
        padding: 10px;
      }
      .ant-select-arrow {
        color: #92928f !important;
      }
    }
    .custom-table__order-btn {
      background: #3699ff;
      border-style: none;
      border-radius: 8px;
      color: #ffffff;
      height: 50px;
    }
    .custom-table__filters-buttons {
      display: flex;
      align-items: center;
      gap: 20px;
      flex-direction: column;
      width: 100%;
      @include moreThanTablet() {
        flex-direction: row;
      }
      @include moreThanDesktop() {
        flex-direction: row;
        width: auto;
      }
      button {
        width: 100%;
        @include moreThanDesktop() {
          width: auto;
        }
      }
    }
  }
}

// Select Dropdown styles
.custom-select__dropdown {
  .ant-select-item {
    padding: 10px 12px;
  }
}
